<header>
    <nav class="flex justify-between items-center">
        <a routerLink="/">TAG&CODE</a>
        <div class="flex gap-4 items-center">
            <button appLiEffects routerLink="/" class="w-3-4 h-full rounded-sm p-2 text-white">Home</button>
            <button appLiEffects routerLink="/login" class="w-3-4 h-full rounded-sm p-2 text-white">Login</button>
            <button appLiEffects routerLink="/formulario" class="w-3-4 h-full rounded-sm p-2 text-white">Contact</button>
        </div>
    </nav>
</header>

