<header>
    <nav class="flex justify-between items-center">
        <a>TAG&CODE</a>
        <div class="flex gap-4 items-center">
            <button routerLink="/" class="rounded-sm ">Home</button>
            <button routerLink="/user" routerLinkActive="router-link-active"  class="w-full text-center text-white bg-gray-700 hover:bg-gray-900 px-2 py-1.5 rounded-md">Perfil</button>
            <button routerLink="/formulario" class="rounded-sm ">Contact</button>
        </div>
    </nav>
</header>

