header{
    background-color: rgb(33, 40, 54);
    padding: 1rem;
}
nav{
    display: flex;
    gap: 1rem;
}

a{
    font-weight: 600;
    color: #fafafa;
}

button{
    font-weight: 600;
    color: #fafafa;
}