<app-headeruser></app-headeruser>
<div class="w-full h-[200px]">
   <img src="../../../assets/profile-background.jpg" class="w-full h-full rounded-tl-lg rounded-tr-lg">
</div>
<div class="flex flex-col items-center -mt-20">
    <div class="relative w-40 h-40 border-4 border-zinc-800 bg-zinc-800 rounded-full overflow-hidden">
        <img src="../../../assets/user-photo.jpg" class="w-full absolute" title="user-photo" alt="">
    </div>
    <div class="flex items-center space-x-2 mt-2">
        <p class="text-2xl">Daniel Aquilino Ndong</p>
        <span class="bg-blue-500 rounded-full p-1" title="Verified">
            <svg xmlns="http://www.w3.org/2000/svg" class="text-gray-100 h-2.5 w-2.5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M5 13l4 4L19 7"></path>
            </svg>
        </span>
    </div>
    <p class="text-gray-300">Junior Fullstack web developer</p>
    <p class="text-sm text-gray-400">Malabo, Ecuatorial Guinea</p>
</div>
<div class="my-10 mx-28">
    <ul class="grid gap-3">
        <li class="text-white text-xl p-4 transition ease-in-out delay-100 hover:-translate-y-1 hover:scale-100 bg-gray-500 hover:bg-zinc-700 drop-shadow-md hover:drop-shadow-2xl  rounded-sm block hover:text-gray-300 cursor-pointer">Contacto <span class="text-lg text-gray-800 ">(En desarrollo)</span></li>
        <li routerLink="/curriculum-vitae" class="text-white text-xl p-4 transition ease-in-out delay-100 bg-blue-500 hover:-translate-y-1 hover:scale-100 bg-gray-500 hover:bg-zinc-700 drop-shadow-md hover:drop-shadow-2xl rounded-sm hover:text-gray-300 cursor-pointer">Curriculum Vitae</li>
        <li routerLink="/animeList" class="text-white text-xl p-4 transition ease-in-out delay-100 hover:-translate-y-1 hover:scale-100 bg-green-500 hover:bg-green-700 drop-shadow-md hover:drop-shadow-2xl rounded-sm hover:text-gray-300 cursor-pointer">View Anime</li>
    </ul>
</div>