<app-headeruser></app-headeruser>
<div class="h-[80vh] mt-4 mx-36">
    <div class="h-[20rem] w-[15rem] rounded-md overflow-hidden border-2 transition ease-in delay-100 hover:-translate-y-0.5 duration-300 hover:scale-100 bg-gray-500 hover:bg-zinc-700 drop-shadow-md hover:drop-shadow-2xl block">
        <div class="h-2/5 border-b-4 border-b-slate-600">
            <img src="../../../assets/angularproject-cv-background.png" class="h-full" alt="my cv">
        </div>
        <div class="pt-4 px-6 bg-gray-300 h-3/5">
            <p class="text-sm text-gray-700 font-semibold mt-2">Updated (<strong>December 12th</strong>)</p>
            <a href="../../../assets/doc/Mi-CV.pdf" target="_blank"  class="rounded-md border-2 border-blue-800 hover:bg-blue-800 active:bg-blue-900 p-2 text-blue-800 hover:text-white font-semibold ml-auto block mt-5" >Ver CV</a>
            <a href="../../../assets/doc/Mi-CV.pdf"  class="rounded-md bg-blue-700 hover:bg-blue-800 active:bg-blue-900 p-2 text-white ml-auto block mt-5 align-center" download="Daniel-Aquilino-CV.pdf">Download CV</a>
        </div>
    </div>
</div>