<app-header></app-header>
<header class="mx-28 mt-4">
    <h2 class="text-[2rem] text-white font-bold">Formulario de Contacto</h2>
</header>
<div class=" flex gap-20 mx-28 pt-5 pb-8">
    <div class="w-2/4 ">
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere natus voluptates illum fugit labore. Voluptate veniam, dolor consequatur vel facilis ea ratione temporibus dolores laborum, deserunt porro perspiciatis distinctio labore.
            Perspiciatis cum fugiat mollitia in libero reprehenderit illum, quo ullam praesentium, esse corporis rem ut vero voluptates obcaecati aperiam, atque eum alias iure ipsum optio! Beatae maxime ea velit aspernatur?
        </p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam impedit maiores architecto labore. Sit delectus quod a accusamus recusandae impedit facere, aut cupiditate expedita aperiam magnam distinctio quisquam modi dolore.</p>
    </div>
    <form action="" class="grid gap-3 ml-auto w-2/4">
        <label for="name">Name</label>
        <input  class="p-2 rounded" type="text" id="name" placeholder="Introduce tu nombre">
        <label for="email">Email</label>
        <input  class="p-2 rounded" type="email" id="email" placeholder="example@gmail.com">
        <label for="subject">Subject</label>
        <textarea class="p-2 rounded"  name="" id="subject" cols="20" rows="6"></textarea>
    </form>
</div>